$white: #fff;
$gray: #c5c5c5;
$msg_font_color: #3d3e42;
$border_color: #dde1e4;
$border_color_2: #ebebed;
$close_icon_color: #aeaeae;
$check_icon_color: #9bd6dd;
$lightgray_background: #f9fafc;
$lightblue_background: #dbf2fa;
$back_tab_background: #eeeff4;
$body_background_color: #cecece;